.navbar {
	border-radius: 0 0 3em 0;
	z-index: 10;
}

.navbar-brand {
	margin: auto;
}

.searchBar {
	position: relative;
	top: -50px;
	border: 2px solid #343a40;
	border-top: 0;
	border-radius: 0 0 3em 0;
	padding: 50px 20px 10px 10px;
	margin-bottom: -48px;
}

#searchInput {
	margin: 1em auto 0 auto !important;
	width: 100%;
}

#searchButton {
	margin: 1em auto 0 auto !important;
}

.active {
	border: 3px inset gray !important;
}

.city-0 {
	border-radius: 0 0 2em 0 !important;
	margin-bottom: 10px;
}

.forecastWrapper {
	padding: 10px 10px 0px 10px;
}

.forecastDisplay {
	padding: 0;
}

.currentDay {
	border-radius: 1em 3em 1em 1em;
}

.uvIndex {
	padding: 1px 4px 4px 4px;
	border-radius: 5px;
}

.fiveDayForecasts {
	margin-right: 0 !important;
}

.card-0 {
border-radius: 1em .25rem .25rem 3em;
}

.card-4 {
border-radius: .25rem 1em 1em .25rem;
}

.allDays{
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
}

.page-footer {
	margin-right: 10px;
	width: 100%;
	height: 3%;
	position: fixed;
	bottom: 0px;
}

.footerText{
	position: relative;
	bottom: 15px;
	right: 20px;
}